html,
body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    text-align: center;
    font-family: "Courier";
    font-size: 26px;
}

button {
    width: 210px;
    height: 44px;
    margin: 0;
    padding: 0;
    transform: translate(0, -2.5px);
    font-size: 26px;
}

input[type=color] {
    width: 130px;
    height: 28px;
    margin: 0;
    padding: 7px;
}